:root {
  --ff-primary: "Bruno Ace SC", cursive;
  --ff-secondary: "Caveat", cursive;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(238, 163, 196, 1) 0%,
    rgba(148, 187, 233, 1) 29%,
    rgba(238, 163, 196, 1) 65%
  );

  padding: 5rem;
}

#page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: red;
}

header div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header div:nth-child(1) {
  background-image: url(./assets/kawaii.jpg);
}
header div:nth-child(2) {
  background-image: url(./assets/shinobi.jpg);
}

main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

main > div:first-child {
  grid-column: 1 / 5;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 2.8rem;
}

main > div:last-child {
  grid-column: 6 / 9;
  font-size: 1.2rem;
}

hr {
  border: 1px solid red;
}

footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--ff-secondary);
  font-size: 2rem;
}
